@model AStore.Models.ProductViewModel

@{
    ViewBag.Title = "List";
}

<div style="width: 1170px; text-align: center; margin: 0 auto">
    @foreach (var product in Model.Products)
    {
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="item item-hover">
                <div class="item-image-wrapper">
                    <figure class="item-image-container">
                        <img src="/images/item4-hover.jpg" alt="item1" class="item-image">
                    </figure>
                    <div class="item-price-container">
                        <span class="item-price">@product.Price</span>
                    </div>
                </div>
                <div class="item-meta-container">
                    <h3 class="item-name">
                        <a href="product.html">@product.Name</a>
                    </h3>
                    <div class="item-action">
                        @using (Html.BeginForm("AddToCart", "Cart"))
                        {
                            @Html.Hidden("productId", product.Id)
                            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                            <input type="submit" class="btn btn-success" value="Add to Cart"/>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>