<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Contacts.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <section id="content">
        <div id="breadcrumb-container">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <header class="content-title">
                        <h1 class="title">
                            Контакты
                        </h1>
                        <p class="title-desc">
                            <li><a href="http:\\google.com" title="Контакт 1"><span class="hide-for-xs">Контакт 1</span></a></li>
                            <li><a href="http:\\google.com" title="Контакт 2"><span class="hide-for-xs">Контакт 2</span></a></li>
                        </p>
                    </header>
                    <div class="xs-margin">
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <div class="c-content">
                                <article class="c-i">
                                    <ul class="c-i-service-l c-i-service">
                                        <li class="c-i-service-l-i">(000) 00-00-00</li>
                                        <li class="c-i-service-l-i">(000) 00-00-00</li>
                                        <li class="c-i-service-l-i number-three">0-000-000-000</li>
                                        <li class="c-i-service-l-i c-i-service-comment-small">Звонки со стационарных телефонов по Украине - бесплатно</li>
                                    </ul>
                                    <div class="c-i-time">
                                        <p class="c-i-time-head">
                                            График работы
                                        </p>
                                        <div class="c-i-time-period">
                                            с 8:00 до 19:00
                                        </div>
                                        <p class="c-i-time-remark">
                                            В субботу: <span>с 9:00 до 17:00</span><br>
                                            В воскресенье: <span>с 10:00 до 15:00</span>
                                        </p>
                                    </div>
                                </article>
                                <article class="c-i no-margin">
                                    <div class="c-i-service">
                                        <h2 class="c-i-service-title">Выставочный зал</h2>
                                        <p class="c-i-service-comment">
                                            <span class="bold black">Бытовая техника и интерьер</span>
                                            <br>
                                            <a href="#" name="show_contact_map" data-point="bt" data-gtm-content="hall" class="xhr novisited">где то есть</a>
                                        </p>
                                    </div>
                                    <div class="c-i-time">
                                        <p class="c-i-time-head">
                                            График работы
                                        </p>
                                        <div class="c-i-time-period">
                                            с 10:00 до 21:00
                                        </div>
                                        <p class="c-i-time-remark">
                                            В субботу: <span>с 10:00 до 19:00</span><br>
                                            В воскресенье: <span>с 10:00 до 17:00</span>
                                        </p>
                                    </div>
                                </article>
                                <p class="c-i-comment">
                                    Так как ассортимент очень широк, мы не можем весь его разместить в выставочном зале.<br>
                                    Поэтому желательно согласовывать Ваш визит заранее.
                                </p>
                                <article class="c-i">
                                    <div class="c-i-service">
                                        <h2 class="c-i-service-title">Сервисный центр</h2>
                                        <p class="c-i-service-map-link">
                                            <a href="#" name="show_contact_map" data-point="all" data-gtm-content="serviceCenter" class="xhr novisited">где то есть</a>
                                        </p>
                                        <p class="c-i-service-comment">
                                            <span class="bold black">Бытовая техника и интерьер</span>
                                            <br>
                                            <a href="#" name="show_contact_map" data-point="bt" data-gtm-content="serviceCenter" class="xhr novisited">где то</a>
                                        </p>
                                    </div>
                                    <div class="c-i-time">
                                        <p class="c-i-time-head">
                                            График работы
                                        </p>
                                        <div class="c-i-time-period">
                                            с 10:00 до 19:00
                                        </div>
                                        <p class="c-i-time-remark">
                                            В субботу: <span>выходной</span><br>
                                            В воскресенье: <span>выходной</span>
                                        </p>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>