<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    
        <header id="header">
            <div id="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="header-top-left">
                                <ul id="top-links" class="clearfix">
                                    <li><a href="http://newsmartwave.net/html/venedor/green/index.html#" title="My Account"><span class="top-icon top-icon-user"></span><span class="hide-for-xs">My Account</span></a></li>
                                    <li><a href="http://newsmartwave.net/html/venedor/green/cart.html" title="My Cart"><span class="top-icon top-icon-cart"></span><span class="hide-for-xs">My Cart</span></a></li>
                                </ul>
                            </div>
                            <div class="header-top-right">
                                <div class="header-top-dropdowns pull-right">
                                    <div class="btn-group dropdown-language">
                                        <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown"><span class="flag-container"><img src="england-flag.png" alt="flag of england"></span> <span class="hide-for-xs">English</span></button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li><a href="http://newsmartwave.net/html/venedor/green/index.html#"><span class="flag-container"><img src="italy-flag.png" alt="flag of england"></span><span class="hide-for-xs">Italian</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="header-text-container pull-right">
                                    <p class="header-text">Welcome to AStore!</p>
                                    <p class="header-link">
                                        <a href="http://newsmartwave.net/html/venedor/green/index.html#">login</a>&nbsp;or&nbsp;<a href="http://newsmartwave.net/html/venedor/green/index.html#">create an account</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="inner-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-sm-5 col-xs-12 logo-container">
                            <h1 class="logo clearfix"> <a href="index.html" title="AStore eCommerce Template"><img src="/Images/logo.png" alt="AStore Commerce Template" width="238" height="76"></a></h1>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12 header-inner-right">
                            <div class="header-box pull-right" style="width: 180px;">
                                <ul style="margin-bottom: 0px;">
                                    <li><span class="header-box-icon header-box-icon-skype"></span>astore_support</li>
                                    <li><span class="header-box-icon header-box-icon-email"></span><a href="mailto:mail@mail.com">mail@mail.com</a></li>
                                </ul>
                            </div>
                            <div class="header-box contact-phones pull-right clearfix">
                                <span class="header-box-icon header-box-icon-earphones"></span>
                                <ul class="pull-left">
                                    <li>+(404) 111 11 11 11</li>
                                    <li>+(404) 111 11 11 11</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="main-nav-container">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 clearfix">
                                @Html.Action("Menu", "Nav")
                                <div id="quick-access">
                                    <div class="dropdown-cart-menu-container pull-right">
                                        <div class="btn-group dropdown-cart">
                                            <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown"><span class="cart-menu-icon"></span> 0 item(s) <span class="drop-price">- $0.00</span></button>
                                            <div class="dropdown-menu dropdown-cart-menu pull-right clearfix" role="menu">
                                                <p class="dropdown-cart-description">Recently added item(s).</p><ul class="dropdown-cart-product-list">
                                                    <li class="item clearfix">
                                                        <a href="http://newsmartwave.net/html/venedor/green/index.html#" title="Delete item" class="delete-item"><i class="fa fa-times"></i></a> <a href="http://newsmartwave.net/html/venedor/green/index.html#" title="Edit item" class="edit-item"><i class="fa fa-pencil"></i></a><figure><a href="http://newsmartwave.net/html/venedor/green/product.html"><img src="item12.jpg" alt="phone 4"></a></figure>
                                                        <div class="dropdown-cart-details">
                                                            <p class="item-name">
                                                                <a href="http://newsmartwave.net/html/venedor/green/product.html">Cam Optia AF Webcam</a>
                                                            </p>
                                                            <p>1x <span class="item-price">$499</span></p>
                                                        </div>
                                                    </li>
                                                    <li class="item clearfix">
                                                        <a href="http://newsmartwave.net/html/venedor/green/index.html#" title="Delete item" class="delete-item"><i class="fa fa-times"></i></a> <a href="http://newsmartwave.net/html/venedor/green/index.html#" title="Edit item" class="edit-item"><i class="fa fa-pencil"></i></a><figure><a href="http://newsmartwave.net/html/venedor/green/product.html"><img src="item13.jpg" alt="phone 2"></a></figure>
                                                        <div class="dropdown-cart-details">
                                                            <p class="item-name">
                                                                <a href="http://newsmartwave.net/html/venedor/green/product.html">Iphone Case Cover Original</a>
                                                            </p>
                                                            <p>1x <span class="item-price">$499<span class="sub-price">.99</span></span></p>
                                                        </div>
                                                    </li>
                                                </ul><ul class="dropdown-cart-total"><li><span class="dropdown-cart-total-title">Shipping:</span>$7</li><li><span class="dropdown-cart-total-title">Total:</span>$1005<span class="sub-price">.99</span></li></ul>
                                                <div class="dropdown-cart-action">
                                                    <p>
                                                        <a href="http://newsmartwave.net/html/venedor/green/cart.html" class="btn btn-custom-2 btn-block">Cart</a>
                                                    </p>
                                                    <p>
                                                        <a href="http://newsmartwave.net/html/venedor/green/checkout.html" class="btn btn-custom btn-block">Checkout</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <form class="form-inline quick-search-form" role="form" action="http://newsmartwave.net/html/venedor/green/index.html#">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Search here">
                                        </div><button type="submit" id="quick-search" class="btn btn-custom"></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <content>
            @RenderBody()
        </content>
        <footer>
            <div id="inner-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-5 col-xs-12 widget">
                            <h3>MY ACCOUNT</h3>
                            <ul class="links">
                                <li><a href="http://google.com">My account</a></li>
                                <li><a href="http://google.com">Personal information</a></li>
                                <li><a href="http://google.com">Addresses</a></li>
                                <li><a href="http://google.com">Discount</a></li>
                                <li><a href="http://google.com">Order History</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-5 col-xs-12 widget">
                            <h3>INFORMATION</h3>
                            <ul class="links">
                                <li><a href="http://google.com">Our stores</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-5 col-xs-12 widget">
                            <h3>Contacts</h3>
                            <ul class="contact-list">
                                <li><strong>AStore</strong></li>
                                <li>UA</li>
                                <li>ALL UA</li>
                                <li>UA UA</li>
                                <li>UA UA UA</li>
                                <li>Working Days: Mon. - Sun.</li>
                                <li>Working Hours: 9.00AM - 8.00PM</li>
                            </ul>
                        </div>
                        <div class="clearfix visible-sm"></div>
                    </div>
                </div>
            </div>
            <div id="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-sm-5 col-xs-12 footer-text-container">
                            <p>© 2015 Powered by AStore™. All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>